.layout {
  display: flex;
  height: 100vh;
}
/* Especificidad alta para los enlaces dentro del sidebar */
.layout .sidebar a,
.layout .sidebar a:link,
.layout .sidebar a:visited {
  text-decoration: none !important; /* Fuerza la eliminación del subrayado */
  color: inherit !important;
}

.layout .sidebar a:hover {
  text-decoration: underline !important;
  color: #6f42c1 !important;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #efefef;
  border-right: 1px solid #6f42c1;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(219, 217, 217, 0.1);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.app-header {
  display: flex;
  align-items: center;
  background-color: #007ad9;
  color: white;
  padding: 10px 20px;
  flex-shrink: 0;
  width: calc(100% - 250px);
  margin-left: 250px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.content {
  padding: 20px;
  margin-left: 250px;
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    width: 250px;
    z-index: 1000;
  }

  .app-header {
    width: 100%;
    margin-left: 0;
  }

  .content {
    margin-left: 0;
    margin-top: 60px;
  }

  .menu-button {
    display: inline-block;
  }
}
